.item-list-component {
    .item-name {
        font-style: italic;
        font-size: 1.8rem;
        margin-bottom: 2.4rem;
        font-family: 'Playfair Display', serif;
        font-weight: 400;
    }

    .list {
        list-style-type: none;
        margin-bottom: 3.8rem;

        &:last-of-type {
            margin-bottom: 0;
        }

        .item {
            margin-bottom: 1.4rem;

            &:last-of-type {
                margin-bottom: 0;
            }

            .label {
                display: flex;
                align-items: flex-start;
             
                .item-check {
                    margin-top: .4rem;
                    margin-right: 1.6rem;
                }
            }
        }
    }
}